.App {
  text-align: center;
}


.contents {
    display: inline-block;
}
.item {
    width: 540px;
    margin-bottom: 10px;
    padding: 10px;
    text-align: left;
    border: 1px #efefef ;
    border-radius: 30px;
    background-color: #efefef;
}

.qrcode{
  display: inline-block;
  width: 110px;
  margin: 3px 0;
  padding: 0;
}

.descriptions{
  display: inline-block;
  width: 400px;
  margin: 3px 0;
  padding: 0;
  vertical-align: top;
}

.title{
  margin-left:10px;
  margin-top: 0;
}